package components

import (
	"github.com/DenisJulio/marketplace-pit/model"
	"github.com/DenisJulio/marketplace-pit/utils"
)

templ AnunciosPage(anuncios []model.Anuncio) {
	<title>Anuncios</title>
	@layout() {
		<main id="content">
			<div class="mt-6 flex flex-col">
				for _, anuncio := range anuncios {
					<div
						class="p-4 mx-4 mb-4 max-w-md cursor-pointer bg-white rounded-lg shadow-md"
						hx-get="/anuncios/anuncio.id"
						hx-select="#content"
						hx-target="#content"
						hx-swap="outerHTML show:window:top"
						hx-push-url="true"
					>
						<div class="flex justify-center">
							<img
								src={ *anuncio.Imagem }
								alt="Product"
								class="h-48 w-auto object-cover rounded-lg"
							/>
						</div>
						<div class="px-4 mt-2">
							<h2 class="text-lg font-bold mb-2">
								{ anuncio.Nome }
							</h2>
							<p
								class="text-gray-600 text-sm mb-2"
							>anunciado há { utils.FormataTempoRelativo(anuncio.CriadoEm) }</p>
							<p
								class="text-xl font-bold mb-2"
							>{ utils.FormataMoedaBR(anuncio.Valor) }</p>
						</div>
					</div>
				}
			</div>
		</main>
	}
}
